{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="display-4 fw-bolder text-center mt-0 mb-0">Oups !</h1>
    <p class="lead fw-normal text-black-50 text-center mt-0">Une erreur est survenue</p>
{% endblock %}

{% block body %}
    <div class="row">
        <h2>Erreur 403</h2>
        <p>Vous n'avez pas l'autorisation d'accéder à ce contenu.</p>
    </div>
{% endblock %}
